#main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

#main-page #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

#main-page #title h1 {
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}

#main-page #title h2 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-top: 10px;
  color: #D9CCEB;
}

#main-page #cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-page #cards a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  border: 20px solid white;
  text-align: center;
  width: 350px;
  height: 350px;
  margin: 40px;
  text-decoration: none;
}

#main-page #cards a h2 {
  color: white;
  margin-top: 35px;
}
