body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .7s;
}

#navbar {
  margin: 0 auto;
  width: 75%;
  background-color: #282828;
  border: solid;
  border-radius: 0px 0px 20px 20px;
}

#logo {
  margin: 0px 0 0 30px;
  float: left;
}

#nav-links ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  overflow: hidden;
}
#nav-links li {
  float: right;
  font-size: 20px;
}
#nav-links li a {
  display: block;
  padding: 15px 50px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
#nav-links li a:hover {
  background-color: #fbff91;
  color: black;
}


#main-body {
  margin: 50px auto;
  width: 70%;
  border: solid;
  border-width: 1px;
  border-color: black;
}
#main-body ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}
#main-body li {
  float: left;
  margin: 10px;
}

#search-headings li {
  margin: 5px 10%;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  color:white;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: yellow;
}

.footer ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}
.footer li {
  display: inline-block;
  margin: 0 15px;
}

.social-media-icons li {
  margin: 5px 50px;
}

.copyright {
  color: grey;
  font-size: 14px;
  text-align: center;
}