@keyframes loading {
    0% {transform: translate(0px,0px); box-shadow: 0 0 10px rgba(0,0,0,0.8);}
    100% {transform: translate(0px,-50px); box-shadow: 5px 20px 10px rgba(0,0,0,0.1);}
}

.loading-animation{
  opacity: 1;
  margin: auto;
  margin-top: 150px;
  width: 150px;
  height: 70px;
  background: #333;
  text-align: center;
  line-height: 70px;
  border-radius: 10px;
  color: #eee;
  font-size: 20px;
  text-transform: uppercase;
  animation: loading 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
}
