#navbar {
  width: 100%;
  background-color: #282828;
  border-bottom: 4px solid #ed793e;
}

#logo {
  float: left;
  padding: 5px 0 0 15%;
}

#nav-links ul {
  padding-right: 15%;
  list-style-type: none;
  overflow: hidden;
}
#nav-links li {
  float: right;
}
#nav-links li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}
#nav-links li a:hover {
  color: #ed793e;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  color:white;
  border-top: 3px solid #FF9338;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #FF9338;
}
footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}
footer li {
  display: inline-block;
  margin: 5px 15px;
}
#social-media-icons li {
  margin: 5px 50px 0px 50px;
}
#copyright {
  margin: 1px;
  color: grey;
  font-size: 14px;
  text-align: center;
}