body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .7s;
}

html {
  position: relative;
  min-height: 100%;
}

ul {
  margin: 0px;
  padding: 0;
}
input {
  text-indent: 5px;
}
p {
  margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px;
  text-indent: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

#navbar {
  width: 100%;
  background-color: #282828;
  border-bottom: 4px solid #ed793e;
}

#logo {
  float: left;
  padding: 5px 0 0 15%;
}

#nav-links ul {
  padding-right: 15%;
  list-style-type: none;
  overflow: hidden;
}
#nav-links li {
  float: right;
}
#nav-links li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}
#nav-links li a:hover {
  color: #ed793e;
}

#main-body {
  margin: 30px auto 20px auto;
  width: 60%;
  background-color: white;

  min-height: 100%;       /*For the footer, footer is 96px height*/
  padding-bottom: 110px;
}


#search-journey-options {
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#drop-down-options {
  max-width: 50%;
}
#col {
  display: inline-block;
  margin: 0 10px 5px 10px;
}
#col label {
  display: block;
}
#col select {
  padding: 2px;
  border-radius: 5px;
  background: #ed793e;
  color: white;
}

#filter-options {
  width: 50%;
}
#filter-options p {
  display: inline-block;
  margin: 3px 40px 3px 3px;
}
#filter-options ul {
  list-style: none;
}
#filter-options li {
  margin: 3px;
}
#non-account-preferences {
  background: lightgray;
  border: 1px solid grey;
  border-radius: 7px;
  margin: 2px 20px 2px 0;
  min-width: 350px;
}
#non-account-preferences ul {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  height: 70px;
}

#search-journey-inputs {
  border: 1px solid black;
  border-top: 0px;
  display: flex;
  flex-direction: row;
}

#search-journey-overview {
  width: 130px;
}
#search-journey-overview h4 {
  text-align: center;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #ed793e;
}
#search-journey-overview p {
  font-size: 13px;
  margin: 3px;
}
#Outbound {
  height: 50%;
}
#Return {
  height: 50%;;
}
.inactive {
  opacity: 0.5;
  background: #CCC;
  outline: 1px solid black;
}
.inactive:hover {
  cursor: pointer;
}

#multi-legs {
  list-style: none;
  padding: 0;
}
#multi-legs li {
  padding: 12px;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}

#search-journey-stations {
  margin: auto;
  text-align: center;
}
#search-journey-stations h2 {
  margin: 10px;
}
#search-journey-stations input {
  text-transform: none;
  margin: 10px;
  color: #ed793e;
  border: 2px solid #ed793e;
}
#search-journey-stations img:first-child, img:last-child {
  margin-bottom: 10px;
}

#calendar-container {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
}
#calendar-container table {
  border: 4px solid #ed793e;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  background-color: #282828;
  color: white;
  border-spacing: 10px 5px;
}
#calendar-container td {
  text-align: center;
  padding: 0px;
}
#calendar-container td:hover {
  color: #ed793e;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .7s;
  cursor: pointer;
}
#table-header {
  font-weight: bold;
  color: #ed793e;
}
#table-header td:hover {
  cursor: auto;
}

#date-display {
  background-color: #ed793e;
  border-radius: 0 20px 20px 0;
  text-align: right;
  padding: 10px 10px 0 10px;
  height: 180.4px;
}
#date-display p {
  margin: 0;
  font-size: 20px;
}
#date-display p:first-child {
  color: white;
  font-size: 40px;
}
#date-display p:last-child {
  font-size: 12px;
}




.restrictions {
  display: flex;
}
.restrictions-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.restrictions-container:not(:last-child) {
  border-right: solid black 2px;
}
.restriction-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  box-sizing: border-box;
}
#restriction-code-information {
  margin: 20px auto 40px auto;
}
#restriction-code-information h2 {
  margin: 0px;
}
#restriction-code-information p {
  margin: 5px 0px;
}
#ticket {
  margin: 20px auto;
  width: 400px;
}
#ticket-restriction-code-search {
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid black;
}
#ticket-restriction-code-search h2 {
  color: black;
  background-color: #ed793e;
  margin: 0px;
  padding: 5px;
  height: 30px;
}
#ticket-restriction-code-search h3 {
  text-align: left;
  background-color: #ed793e;
  margin: 0px;
  padding: 5px 0px 15px 30px;
  height: 20px;
}
#ticket-restriction-code-search p {
  padding: 10px;
  margin: 0px;
}
#ticket-restriction-code-search form {
  text-align: end;
  margin: 0px;
  padding: 40px 5px 5px 0px;
}
#label-route {
  margin-right: 180px;
}
#ticket-restriction-code-search input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
input[type=text] {
  border:2px solid #ccc; 
  border-radius: 5px;
  width: 170px;
  height: 20px;
  font-size: 14px;
  margin-right: 5px;
  text-transform: uppercase;
}
input[type=text]:focus {
  border: 2px solid #ed793e;
}
input[type=submit] {
  padding: 3px 5px;
  background: white; 
  border-radius: 6px;
  border: solid 2px #ed793e;
  font-size: 14px;
}
input[type=submit]:hover {
  background: #ed793e;
  cursor: pointer;
}

#ticket-background {
  background-image: url(images/textBackground.png);
  background-size: 100%;
}
input[name=day] {
  display: none;
}
#day-list {
  text-align: center;
}
#day-list label {
  margin: 20px 20px 0px 20px;
  padding: 4px 6px;
  border: solid 2px #ed793e;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
#day-list label:hover, #day-list input[type=radio]:checked + label {
  background: #ed793e;
}

#results img {
  margin: 4px 20px 4px 20px;
}
#results h2, h3 {
  margin: 15px 0px 5px 5px;
}
#results h2:first-child {
  display: inline;
  border-bottom: 3px solid #ed793e;
}
#current-code {
  border: 2px solid #ed793e;
  display: inline;
  padding: 0px 15px;
  margin-left: 20px;
  border-radius: 10px;
}
#search-again-btn {
  float: right;
}
#search-again-btn a {
  text-decoration: none;
}

.code-error-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}
.code-error-container > * {
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  color:white;
  border-top: 3px solid #FF9338;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #FF9338;
}
footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}
footer li {
  display: inline-block;
  margin: 5px 15px;
}
#social-media-icons li {
  margin: 5px 50px 0px 50px;
}
#copyright {
  margin: 1px;
  color: grey;
  font-size: 14px;
  text-align: center;
}