body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .7s;
}

html {
  position: relative;
  min-height: 100%;
}

ul {
  margin: 0px;
}
input {
  text-indent: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px;
  text-indent: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

#navbar {
  width: 100%;
  background-color: #282828;
  border-bottom: 3px solid #FF9338;
}

#logo {
  float: left;
  padding: 5px 0 0 15%;
}

#nav-links ul {
  padding-right: 15%;
  list-style-type: none;
  overflow: hidden;
}
#nav-links li {
  float: right;
}
#nav-links li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}
#nav-links li a:hover {
  color: #FF9338;
}

#main-body {
  margin: 30px auto 10px auto;
  width: 60%;
  background-color: white;

  min-height: 100%;       /*For the footer, footer is 96px height*/
  padding-bottom: 96px;
}

#search-journey-body {
  margin: 20px auto 40px auto;
}

#search-journey-options {
  border: 1px solid black;
  overflow: hidden;
}
#search-journey-options ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
#search-journey-options li {
  display: inline;
}


#drop-down-options {
  width: 48%;
  float: left;
}
#col {
  float: left;
  margin: 0 10px 5px 15px;
}
#col label {
  display: block;
}
#col select {
  padding: 2px;
  border-radius: 5px;
  background: #ed793e;
  color: white;
}


#filter-options-title {
  width: 50%;
  float: right;
}
#filter-options-title p {
  margin: 0px;
  float: left;
}
#filter-options-title label {
  margin-left: 50px;
}

#filter-options {
  float: right;
  width: 49%;
  background: lightgray;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px 10px 20px 0px;
}
#filter-options li {
  margin: 3px 20px 3px 10px;
}
#filter-options li:last-child {
  margin-right: 31px;
}


#search-journey-inputs {
  border: 1px solid black;
  border-top: 0px;
  overflow: hidden;
}

#search-journey-overview {
  float: left;
}
#search-journey-overview p {
  margin: 0;
}
#search-journey-overview input[type=text] {
  width: 140px;
  text-transform: none;
  margin: 5px;
}
#Outbound {
  padding: 10px 5px;
  border-bottom: 1px solid black;
  height: 50%;
}
#Return {
  padding: 10px 5px;
  height: 50%;
}
.inactive {
  opacity: 0.5;
  background: #CCC;
  border-right: 1px solid black;
}
.inactive:hover {
  cursor: pointer;
}

#multi-legs {
  list-style: none;
  padding: 0;
}
#multi-legs li {
  padding: 12px;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}

#search-journey-stations {
  float: left;
  margin: 0 auto;
  text-align: center;
}
#search-journey-stations input {
  text-transform: none;
  margin: 10px;
  color: #ed793e;
  border: 2px solid #ed793e;
}
#search-journey-stations img:first-child, img:last-child {
  margin-bottom: 10px;
}

#calendar-container {
  float: left;
  text-align: center;
}
#calendar-container table {
  display: table-cell;
  border: 4px solid #ed793e;
  float: left;
  margin: 20px 0 0 20px;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  background-color: #282828;
  color: white;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
#calendar-container td {
  text-align: center;
  padding: 0px;
}
#calendar-container td:hover {
  color: #ed793e;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .7s;
  cursor: pointer;
}
#table-header {
  font-weight: bold;
  color: #ed793e;
}
#table-header td:hover {
  cursor: auto;
}

#date-display {
  display: inline-block;
  margin-top: 20px;
  background-color: #ed793e;
  border-radius: 0 20px 20px 0;
  text-align: right;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  height: 191px;
}
#date-display p {
  margin: 0;
  font-size: 20px;
}
#date-display p:first-child {
  color: white;
  font-size: 40px;
}
#date-display p:last-child {
  font-size: 12px;
}





#restriction-code-information {
  margin: 20px auto 40px auto;
}
#restriction-code-information h2 {
  margin: 0px;
}
#restriction-code-information p {
  margin: 5px 0px;
}
#ticket {
  margin: 20px auto;
  width: 400px;
}
#ticket-restriction-code-search {
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid black;
}
#ticket-restriction-code-search h2 {
  color: black;
  background-color: #ed793e;
  margin: 0px;
  padding: 5px;
  height: 30px;
}
#ticket-restriction-code-search h3 {
  text-align: left;
  background-color: #ed793e;
  margin: 0px;
  padding: 5px 0px 15px 30px;
  height: 20px;
}
#ticket-restriction-code-search p {
  padding: 10px;
  margin: 0px;
}
#ticket-restriction-code-search form {
  text-align: end;
  margin: 0px;
  padding: 40px 5px 5px 0px;
}
#label-route {
  margin-right: 180px;
}
#ticket-restriction-code-search input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
input[type=text] {
  border:2px solid #ccc; 
  border-radius: 5px;
  width: 170px;
  height: 20px;
  font-size: 14px;
  margin-right: 5px;
  text-transform: uppercase;
}
input[type=text]:focus {
  border: 2px solid #ed793e;
}
input[type=submit] {
  padding: 3px 5px;
  background: white; 
  border-radius: 6px;
  border: solid 2px #ed793e;
  font-size: 14px;
}
input[type=submit]:hover {
  background: #ed793e;
  cursor: pointer;
}

#ticket-background {
  background-image: url(images/textBackground.png);
  background-size: 100%;
}
input[name=day] {
  display: none;
}
#day-list label {
  margin: 20px 20px 0px 20px;
  padding: 4px 6px;
  border: solid 2px #ed793e;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
#day-list label:hover {
  background: #ed793e;
}
#day-list input[type=radio]:checked + label {
  text-shadow: 1px 1px 1px black;
}

#results img {
  margin: 4px 20px 4px 20px;
}
#results h2, h3 {
  margin: 15px 0px 5px 5px;
}
#results h2:first-child {
  display: inline;
  border-bottom: 3px solid #ed793e;
}
#current-code {
  border: 2px solid #ed793e;
  display: inline;
  padding: 0px 15px;
  border-radius: 10px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  color:white;
  border-top: 3px solid #FF9338;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #FF9338;
}
footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}
footer li {
  display: inline-block;
  margin: 5px 15px;
}
#social-media-icons li {
  margin: 5px 50px 0px 50px;
}
#copyright {
  margin: 1px;
  color: grey;
  font-size: 14px;
  text-align: center;
}