body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .7s;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

form input[type='text']{
  width: 50%;
  height: 30px;
  margin: 10px;
  padding-left: 10px;
  font-size: 20px;
}

form input[type='submit']{
  width: 80px;
  height: 30px;
  margin-bottom: 5px;
  background: white;
  border: solid 2px #ed793e;
  border-radius: 6px;
  font-size: 15px;
}

form input[type='submit']:hover{
  background: #ed793e;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
  text-indent: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

#navbar {
  margin: 0 auto;
  width: 75%;
  background-color: #282828;
  border: solid;
  border-radius: 0px 0px 20px 20px;
}

#logo {
  margin: 0px 0 0 30px;
  float: left;
}

#nav-links ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  overflow: hidden;
}
#nav-links li {
  float: right;
  font-size: 20px;
}
#nav-links li a {
  display: block;
  padding: 15px 50px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
#nav-links li a:hover {
  background-color: #fbff91;
  color: black;
}


#main-body {
  margin: 50px auto;
  width: 70%;
}
#main-body ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}
#main-body li {
  float: left;
  margin: 10px;
}

#search-headings li {
  margin: 5px 10%;
}

#drop-down-menu-filter-options {
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 1px;
}

#ticket {
  margin: 10px auto;
  width: 500px;
  border: 1px solid grey;
  border-radius: 22px;
}
#ticket-restriction-code-search {
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}
#ticket-restriction-code-search h2 {
  color: black;
  background-color: #ed793e;
  margin: 0px;
  padding: 10px;
  height: 20px;
  text-align: center;
  font-size: 18px;
}
#ticket-restriction-code-search p {
  padding: 10px;
  margin: 0px;
}
#ticket-restriction-code-search form {
  margin: 0px;
  padding: 10px 5px 5px 10px;
}

#ticket-background {
  background-image: url(Assets/textBackground.png);
  background-size: 100%;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  color:white;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: yellow;
}

.footer ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}
.footer li {
  display: inline-block;
  margin: 0 15px;
}

.social-media-icons li {
  margin: 5px 50px;
}

.copyright {
  color: grey;
  font-size: 14px;
  text-align: center;
}
