footer {

    align-items: center;
    font-size: 13px;
    border-top: 3px solid white;
    margin-top: 20px;
    overflow: auto;

    p {
        float: left;
        margin: 17px 0 0 7px;
    }

    ul {
        float: right;
        display: flex;
        align-items: center;
    }

    li {
        display: inline-block;
        width: 32px;
        margin: 7px 15px;
    }

    li:last-child {
        margin-right: 40px;
    }
    
    svg {
        fill: white;
    }

}