header {

    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid white;
    margin-bottom: 20px;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }

    #menu {

        flex: 1;
        display: flex;
        align-items: center;

        h2 {
            font-size: 24px;
            font-weight: 600;
            font-style: italic;
            letter-spacing: 2px;
            margin: 16px;
        }

        li:first-child {
            margin-left: 60px;
        }

        li {
            display: inline-block;
            font-size: 13px;
            font-style: italic;
            margin: 10px 20px 0px 20px;
        }

    }

    #login, #signup {
        
        display: flex-inline;
        margin-top: 6px;

        form {
            display: flex;
            align-items: flex-start;

            * {
                margin-right: 5px;
            }

        }

        input {
            height: 24px;
            width: 150px;
            border-radius: 10px;
            font-size: 11px;
            padding-left: 7px;
            letter-spacing: 1px;
        }

        input[type=image] {
            width: 24px;
            fill: white;
            margin-top: 3px;
        }

        input::placeholder {
            font-family: Montserrat;
            font-style: italic;
        }

        p {
            font-size: 13px;
            text-align: right;
            margin: 4px 15px 0 0;
        }

        span {
            color: blue;
        }
        
    }

    #signup form{

        display: flex;

        div {

            display: flex;
            justify-content: center;
            flex-direction: column;

            * {
                margin-bottom: 5px;
            }

        }

    }

    #logged-in {
        display: flex;
        align-items: center;

        padding: 0px 10px;
        height: 100%;
        background-color: rgba(144, 127, 250, 0.20);

        #main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            

            & > * {
                margin: 2px;
                font-family: inherit;
            }

            p {
                font-size: 14px;
                border-bottom: 2px solid #fff;
            }

            .button {
                
                color: #fff;
                background-color: transparent;
                border-radius: 15px;


                a:hover {
                    text-decoration: none;
                }

            }

            #account-button {
                margin-right: auto;
            }

            #signout-button {
                margin-left: auto;
            }

        }



        img {
            width: 60px;
            height: 60px;
        }
    }

    #email {
        
        display: flex;
        flex-direction: column;
        position: relative;

        #error-modal {
            position: absolute;
            top: 30px;
            width: 200px;
            height: 40px;
            padding: 10px;
            border-radius: 15px;
            background-color: #105BA0;
        }
    
    }

}