#profile-container {

    height: 80%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: 40px;

    > div {

        background-color: rgba(255, 255, 255, 0.5);
        height: 530px;
        margin: 10px;
        border-radius: 20px;

    }
    

    #recent, #recommended {

        display: flex;
        flex-direction: column;

        p {

            border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        
        }

    }

    #recent {
        
        width: 450px;

        p {

            padding: 20px 40px;

        }

    }

    #recommended {

        width: 300px;
        align-items: center;

        p {

            width: 100%;
            text-align: center;
            padding: 20px 0px;

        }

    }

    #profile {

        background-color: transparent;
        width: 350px;

        #details {

            height: 230px;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;

            #text {

                margin-right: 15px;

                h3 {

                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 5px;

                }

                p {

                    color: #5D73D5;
                    font-size: 13px;

                }

            }

            img {

                width: 180px;
                height: 180px;

            }

        }

        #buttons {

            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 20px;
            height: 300px;

            li {

                padding: 21px 40px;
                border-bottom: 3px solid rgba(255, 255, 255, 0.5);

            }

            li:last-child {

                border: none;

            }

        }

    }

}