#search-journey {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;

    #title {

        font-size: 25px;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        letter-spacing: 3px;
        padding-bottom: 15px;
        margin: 30px 0;
        border-bottom: 4px solid white;

    }


    #card {

        background-color: rgba(255, 255, 255, 0.5);
        width: 1000px;
        transition: width 2s;
        border-radius: 15px;

        #settings {

            display: flex;
            align-items: center;
            height: 70px;
            border-bottom: 3px solid rgba(255, 255, 255, 0.5);

            ul {

                display: flex;
                align-items: center;
                margin-left: 40px;

                li {

                    display: inline-block;

                    select {
                        
                        width: 130px;
                        height: 27px;
                        margin: 10px;
                        padding: 2px 2px 5px 2px;
                        font-size: 15px;

                    }

                }

            }

            #option-container {

                display: flex;
                align-items: center;
                justify-content: center;       
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 15px;
                margin: 0px 20px 0px auto;

                .option {

                    display: flex;
                    align-items: center;
                    margin: 0px 8px;

                }

                svg {

                    width: 24px;
                    padding: 10px;
                    color: #6F88F4;

                }

            }

        }

        #search {

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            #one-leg {

                display: flex;
                align-items: center;

                input {

                    height: 33px;
                    width: 200px;
                    border-radius: 10px;
                    //padding-left: 10px;
                    font-family: inherit;
                    cursor: pointer;

                }

                div {

                    display: flex;
                    align-items: center;
                    margin: 5px;
                }


                img {
                    margin: 3px;
                }

                .delete-button {

                    background-color: rgba(255, 255, 255, 0);
                    border: none;
                    border-radius: 3px;
                    color: inherit;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 24px;
                    cursor: pointer;

                }

            }

            .search-form-buttons {

                margin-right: auto;
                margin-left: 40px;
                background-color: lightgreen;
                border: none;
                border-radius: 8px;
                color: inherit;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                cursor: pointer;

            }

            input[type="submit"] {
                position: relative;
                top: 25px;
                height: 40px;
                width: 130px;
                background-color: #68D15A;
                border-radius: 15px;
                font-size: 17px;
                color: white;
                border: solid 1px #707070;
                cursor: pointer;
            }


            input[type="submit"]:hover {

                background-color: #41b332;

            }

        }

    }

}

.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 30px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: black;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }