#search-results {

    height: fit-content;

    width: 80%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 15px;

    #settings {

        display: flex;
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);

        ul {

            li {
                display: inline-block;
                width: 100px;
                margin: 20px 30px;
                padding: 5px;
                font-size: 17px;
                border-bottom: 3px solid white;
            }

        }

        #options-container {

            display: flex;
            align-items: center;
            justify-content: center;       
            background-color: #105BA0;
            height: 40px;
            border-radius: 15px;
            padding: 0px 5px;
            margin: 15px 50px 0 auto;


            .option {

                display: flex;
                align-items: center;
                margin: 0px 8px;

            }

            svg {

                width: 24px;
                padding: 10px;
                color: #fff;

            }

        }


    }

    #details {

        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        padding: 10px 40px 20px 40px;
        font-size: 18px;

        #container {

            display: flex;
            align-items: center;
            font-size: 14px;
            margin-bottom: 15px;

            .leg {
                width: 144px;
                height: 112px;
                margin: 10px;
                border-radius: 15px;
                background-color: #105BA0;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
    
            .active {
                align-items: initial;
                width: 250px;
            }
    
            .triangle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 0 20px 20px;
                border-color: transparent transparent transparent #fff;
    
            }
    
            .circle {
                margin: 5px;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                text-align: center;
                font-size: 20px;
                border: 3px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            .active div {
                display: flex;
                align-items: center;
                
            }
    
            .leg-header{
                font-size: 18px;
                font-weight: bold;

                p {
                    margin-left: 10px;
                }

            }
    
            .small {
                height: 5px;
                width: 5px;
                border: 2px solid #fff;
                margin: 5px 15px 5px 40px;
            }

        }

        #main {

            display: flex;
            align-items: center;

            p {
                font-weight: bold;
                font-size: 22px;
            }

            svg {

                width: 12px;
    
            }
    
            span {
    

                margin-left: 40px;
                font-size: 15px;
    
            }


        }

        

    }

    #results {

        h3 {
            margin: 25px 0 7px 80px;
        }

        .entries {

            display: flex;
            margin: auto;
            flex-direction: column;
            width: 90%;
            margin-bottom: 20px;

            .summary-text {

                display: flex;
                background-color: rgba(255, 255, 255, 0.13);
                font-size: 20px;
                border-radius: 15px;
                margin-top: 5px;
                padding: 15px;


                span {
                    margin-left: auto;
                }

            }

            .entry {

                display: flex;
                flex-direction: column;
                background-color: #105BA0;
                border-radius: 15px;
                border-bottom: 3px solid rgba(255, 255, 255, 0.5);

                .main {

                    display: flex;
                    height: 100px;
                    align-items: center;

                    div {

                        padding: 5px 27px;

                    }

                    .cell {

                        p:nth-child(2) {
                            padding-top: 10px;
                            color: #EEE;
                            font-size: 14px;
                        }

                    }

                    .price {
                        font-size: 20px;
                    }

                    img {
                        margin-right: 25px;
                        margin-left: auto;
                    }

                }

                .details {

                    display: none;
                    border-radius: 15px;
                    background-color: rgba(255, 255, 255, 0.25);

                    .hop {

                        color: #EEE;
                        

                        .travel {

                            display:flex;
                            align-items: center;

                            //margin-left: 50px;

                            img {

                                width: 48px;
                                height: 48px;

                            }

                            div {
                                border-left: dashed 4px rgba(255, 255, 255, 0.5);

                                p {
                                    padding: 10px 0px 10px 20px;
                                }
                            
                            }

                        }

                        .wait {

                            padding: 20px 70px;
                            border-top: 3px solid rgba(255, 255, 255, 0.5);
                            border-bottom: 3px solid rgba(255, 255, 255, 0.5);

                        }

                        .hopBottom {

                            display: flex;
                            justify-content: flex-end;
                            height: 70px;
                            border-top: 3px solid rgba(255, 255, 255, 0.5);

                            input[type="button"] {

                                margin: 10px 20px;
                                width: 90px;
                                background-color: #68D15A;
                                border-radius: 15px;
                                font-size: 17px;
                                color: white;
                                border: solid 1px #707070;
                                cursor: pointer;

                            }

                            input[type="button"]:hover {

                                background-color: #41b332;
                
                            }

                        }
                    
                    }

                }

            }

            .entry:last-child  {
                .hop:last-child, .details:last-child {
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }

        }

    }

    #search-again-button[type="button"] {

        margin: 10px 45px 10px 0px;
        float: right;
        width: 150px;
        height: 40px;
        background-color: #68D15A;
        border-radius: 15px;
        font-size: 17px;
        color: white;
        border: solid 1px #707070;
        cursor: pointer;

    }

}