#search-journey {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;

    #title {

        font-size: 25px;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        letter-spacing: 3px;
        padding-bottom: 15px;
        margin: 30px 0;
        border-bottom: 4px solid white;

    }

    #card {

        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 15px;

        #settings {

            overflow: auto;
            border-bottom: 3px solid rgba(255, 255, 255, 0.5);

            ul {

                float: left;

                li:first-child {
                    margin-left: 40px;
                }

                li {

                    display: inline-block;

                    select {
                        
                        width: 130px;
                        height: 27px;
                        margin: 20px 20px;
                        padding: 5px;
                        font-size: 15px;

                    }

                }

            }

            #option-container {

                float: right;
                display: flex;
                align-items: center;
                justify-content: center;       
                background-color: rgba(255, 255, 255, 0.5);
                height: 40px;
                width: 260px;
                border-radius: 15px;
                margin: 15px 50px 0 0;

                .option {

                    display: flex;
                    align-items: center;
                    margin: 0px 8px;

                }

                svg {

                    width: 24px;
                    padding: 10px;
                    color: #6F88F4;

                }

            }

        }

        #search {

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            #one-leg {

                display: flex;
                align-items: center;

                input {

                    height: 33px;
                    width: 200px;
                    border-radius: 10px;
                    padding-left: 10px;
                    font-family: inherit;

                }

                div {

                    display: flex;
                    align-items: center;
                    margin: 10px;
                }


                img {
                    margin: 3px;
                }

                .delete-button {

                    background-color: lightcoral;
                    border: none;
                    border-radius: 3px;
                    color: inherit;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 24px;

                }

            }

            .search-form-buttons {

                margin-right: auto;
                margin-left: 20px;
                background-color: lightgreen;
                border: none;
                border-radius: 8px;
                color: inherit;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;

            }

            input[type="submit"] {
                position: relative;
                top: 25px;
                height: 40px;
                width: 130px;
                background-color: #68D15A;
                border-radius: 15px;
                font-size: 17px;
                color: white;
                border: solid 1px #707070;
            }

        }

    }

}