header {

    overflow: auto;
    border-bottom: 3px solid white;
    margin-bottom: 20px;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }

    #menu {

        float: left;
        display: flex;
        align-items: center;

        h2 {
            font-size: 24px;
            font-weight: 600;
            font-style: italic;
            letter-spacing: 2px;
            margin: 16px;
        }

        li:first-child {
            margin-left: 60px;
        }

        li {
            display: inline-block;
            font-size: 13px;
            font-style: italic;
            margin: 10px 20px 0px 20px;
        }

    }

    #login {
        float:right;
        display: flex-inline;
        margin-top: 6px;

        form {
            display: flex;
            align-items: flex-start;

            * {
                margin-right: 5px;
            }

        }

        input {
            height: 24px;
            width: 150px;
            border-radius: 10px;
            font-size: 11px;
            padding-left: 7px;
            letter-spacing: 1px;
        }

        input[type=image] {
            width: 24px;
            fill: white;
        }

        input::placeholder {
            font-family: Montserrat;
            font-style: italic;
        }

        p {
            font-size: 13px;
            text-align: right;
            margin: 4px 15px 0 0;
        }

        span {
            color: blue;
        }
        
    }

}