@import 'oldStyling';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,600i,700i');
@import 'reset';


body {
    
    background: #681e9a;
    background: -moz-linear-gradient(45deg, #681e9a 0%, #67bc6c 100%);
    background: -webkit-linear-gradient(45deg, #681e9a 0%,#67bc6c 100%);
    background: linear-gradient(45deg, #681e9a 0%,#67bc6c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#681e9a', endColorstr='#67bc6c',GradientType=1 );
    
}

.App {

    color: white;
    font-family: Montserrat;
    
    width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

#main-body {
    flex: 1;
}


@import 'header';
@import 'main-page';
@import 'search-form';
@import 'search-results';
@import 'footer';
